{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
